[package]
name = "oasis-core-client"
version = "0.3.0-alpha"
authors = ["Oasis Labs Inc. <info@oasislabs.com>"]
edition = "2018"

[dependencies]
oasis-core-runtime = { path = "../runtime" }
serde = "1.0.71"
serde_bytes = "~0.10"
serde_derive = "1.0"
failure = "0.1.5"
futures = "0.1.25"
tokio-executor = "0.1.6"
tokio-current-thread = "0.1.5"
io-context = "0.2.0"

[target.'cfg(not(target_env = "sgx"))'.dependencies]
grpcio = "0.4.6"
rustracing = "0.2.0"
rustracing_jaeger = "0.2.1"
tokio = "0.1.18"
