{# This a Jinja2 template for preparing a new section of the Change Log with the towncrier utility.#}
## {{ versiondata.version }} ({{ versiondata.date }})
{% for section, _ in sections.items() %}

{% if sections[section] %}
{% for category, val in definitions.items() if category in sections[section] %}
{% if definitions[category]['showcontent'] %}
{{ "### " + definitions[category]['name'] }}

{% for text, values in sections[section][category].items() %}
{% set lines = text.splitlines() %}
{% set referenced_issues = "(" + values | join(',\n   ') + ")" %}
{% if lines | length > 2 and lines[1] == "" %}
- {{ lines[0] }}
  {{ referenced_issues }}

{{ lines[2:] | join('\n') }}
{% else %}
- {{ text }}
  {{ referenced_issues }}
{% endif %}
{% if not loop.last %}

{% endif %}
{% endfor %}
{% endif %}
{% if sections[section][category]|length == 0 %}
No significant changes.

{% else %}
{% endif %}

{% endfor %}
{% else %}
No significant changes.


{% endif %}
{% endfor %}
