# Build.
target/
**/*.rs.bk
*.a
*.o
*.so
**/generated
Cargo.lock
Cargo.enclave.lock

# IDE.
.idea/*

# Temporary files.
*.swp

# Saved enclave identity.
/identity*.pb

# Development-linked Workspaces.
/thirdparty/
