*.swp
*~

common/crypto/mrae/gen_vectors/gen_vectors
ekiden/ekiden

# Ignore output from protoc created via `go generate`.
grpc/common/*.pb.go
grpc/dummydebug/*.pb.go
grpc/ias/*.pb.go
grpc/registry/*.pb.go
grpc/storage/*.pb.go
grpc/client/*.pb.go
grpc/enclaverpc/*.pb.go
grpc/txnscheduler/*.pb.go
common/sgx/aesm/*.pb.go
