*.swp
*~

oasis-node/oasis-node
oasis-node/integrationrunner/integrationrunner.test
oasis-test-runner/oasis-test-runner
oasis-net-runner/oasis-net-runner
storage/mkvs/urkel/interop/urkel_test_helpers

# Ignore output from protoc created via `go generate`.
grpc/common/*.pb.go
grpc/dummydebug/*.pb.go
grpc/ias/*.pb.go
grpc/registry/*.pb.go
grpc/storage/*.pb.go
grpc/client/*.pb.go
grpc/control/*.pb.go
grpc/enclaverpc/*.pb.go
grpc/txnscheduler/*.pb.go
grpc/sentry/*.pb.go
grpc/staking/*.pb.go
grpc/genesis/*.pb.go
common/sgx/aesm/*.pb.go
